* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

/* HEADER */
header h1 {
    margin: 20px 0 40px;
    text-align: center;
    font-size: 60px;
    color: white;
}

/* MAIN */
.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #1389b2;
    align-content: center;
    text-align: center;
}