* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

/* HEADER */
header h1 {
    margin: 20px 0 40px;
    text-align: center;
    font-size: 60px;
    color: white;
}

/* MAIN */
.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.container > div {
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
}

.box {
    background-color: #1389b2;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
 background-color: #ffd166;
}

.fizzbuzz {
 background-color: #f0466f;
}